$searchColor: #0000ff;
$rgbaPrincipal: rgba(21, 21, 21, 0.5);
$rgbPrincipal: rgb(0, 0, 0, 0.7);
$white: #fff;
$black: #000;
$tomato: #ff6347;
$rgbaSecundario: rgba(0, 0, 0, 0.178);
$rgbaLoader: rgba(0, 0, 0, 0.719);
$rgbSecundario: rgb(80, 80, 80);
$lightRgb: rgb(230, 230, 230);
$rgbDarkSecundario: rgb(48, 48, 48);
$rgblightSecundario: rgb(37, 37, 37);
$borderProduct: #999;
$rgbaCardShadow: rgba(15, 15, 15, 0.26);
